html, body{
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/
}

#container {
	height: 100%;
	width: 100%;
	/*display: flex;
	display: -webkit-flex;
	flex-flow: column;
	-webkit-flex-flow: column;*/
}

#webhydla_title {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#web_title {
	/*color: #ff9933;*/ /*original hydla-orange*/
	color: #ff8822;
	display: inline;
}
#powered_by {
	margin-top: -20px;
}

#menubar {
	/*order: 1;*/
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	/*border-top: solid 1px;*/
	padding: 6px;
}

#splitter {
	/*order: 2;
	flex: 1;*/
	width: 100%;
	height: 100%;
	position: relative;
}

.inner {
	position: absolute;
	width: 100%;
	height: 100%;
	/*display: flex;
	display: -webkit-flex;*/
}

#splitter>.inner {
	/*flex-flow: row;
	-webkit-flex-flow: row;*/
}

#input-pane {
	/*order: 1;*/
	width: 100%;
	height: calc(100% - 360px);
}

#left-pane {
	position: relative;
	/*order: 1;
	display: flex;
	display: -webkit-flex;*/
	width: 100%;
	height: 100%;
	z-index: 1;
}


#editor-area {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#left-pane>.inner {
	/*flex-flow: column;
	-webkit-flex-flow: column;*/
}

#editor {
	/*flex: 1;*/
	/*adjust this*/
	min-height: 0%;
	height: 100%;
}

#s-separator {
	/*order: 2;*/
	position: relative;
	width: 20px;
	height: 100%;
}

#v-separator {
	/*order: 2;*/
	position: relative;
	width: 20px;
	height: 100%;
	background-color: #ffffff;
	z-index: 100;
}

#result-pane {
	/*order: 3;
	flex: 1;*/
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

#result-pane>.inner {
	/*flex-flow: column;
	-webkit-flex-flow: column;*/
}

#graph-area {
	/*order: 1;
	flex: 1;*/
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

#output-area {
	/*order: 1;
	flex: 1;*/
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: scroll;
	overflow-x: visible;
}

#h-separator {
	/*order: 1;*/
	width: 100%;
	height: 20px;
	background-color: #ffffff;
}

#text-area {
	/*order: 2;*/
	width: 100%;
	height: 100%;
	transition: height 0.5s;
}

#graph-setting-area {
	/*order: 2;*/
}

#graph-axis-setting{
	height: 210px;
	width: 100%;
}

#parameter-setting-table{
	height: 150px;
	width: 100%;
}

#graph-parameter-setting{
	height: 100%;
	width: 100%;
}

.exec-button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 100;
}

.kill-button {
	position: absolute;
	bottom: 20px;
	right: 80px;
	z-index: 100;
}


#graph {
	height: 100%;
	width: 100%;
}

#graph-initial {
	height: 100%;
	width: 100%;
	/*display: flex;
	display: -webkit-flex;*/
	/*align-items: center;
	justify-content: center;*/
}

#graph-preloader {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
	/*display: flex;
	display: -webkit-flex;*/
	/*これはグラフのズームインアウトに関わっている*/
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

#graph_options {
	z-index: 100;
}

#output-initial {
	height: 100%;
	width: 100%;
	/*display: flex;
	display: -webkit-flex;*/
	align-items: center;
	justify-content: center;
}

#output-preloader {
	position: absolute;
	/*top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/
	z-index: 100;
	/*display: flex;
	display: -webkit-flex;*/
	align-items: center;
	justify-content: center;
}

#disabled-running {
	/* disabled element when running hyrose */
}

.dropdown-content {
	z-index: 3;
}

.wrapper{
	position: relative;
}

.mdi-navigation-arrow-drop-down{
	width: 50px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.parameter-checkbox{
	position: absolute;
}

.parameter-switch{
	font-size: small;
}

#plotting-mode-switch{
	top: calc(100%-30px)px;
	position: relative; 
}

#axis-area {
	/*order: 1;
	flex: 1;*/
	position: relative;
	z-index: 1;
}

#setting-area {
	/*order: 1;
	flex: 1;*/
	position: relative;
	z-index: 1;
}
.scroll-box {
	overflow: auto;
}


#dat-gui{
	position:absolute;
	top: 1em;
	left: 1em;
	z-index: 3;
}
#dat-gui-bottom{
	position:absolute;
	bottom: 1em;
	left: 1em;
	z-index: 3;
}

#textarea{
	z-index: -1;
}

#scale_label_wrapper{
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
}

#scaleLabelCanvas{
	position:absolute;
	top: 0px;
	z-index: 1;
	pointer-events: none;
}


#nameLabelCanvas{
	position:absolute;
	top: 0px;
	z-index: 2;
	pointer-events: none;
}
